<% include ../partials/site/header.ejs %>

    <h4><strong>Oops! You forgot your password</strong></h4>
    <br>
    <form id="frm_login" method="POST">
        <div class="form-group">
            <label for="email">Email Address: </label>
            <input type="email" name="email" class="form-control input-flat" placeholder="Email">
        </div>
        <input type="submit" value="Sign in" class="btn btn-primary pull-right">
    </form>

</div>

<script>

    $(document).ready(function(){

        $('#frm_login').on('submit', function(e) {
            e.preventDefault();
            var data = $("#frm_login :input").serializeArray();

            loading.show();
            deffered = $.post("/api/v0/forgotpassword", data)
            deffered.done(function(data) {
                loading.hide()
                console.log(data)
                if(data == "false"){
                    clientflash.flash('danger','There is no email address on the system.')
                }else{
                    clientflash.flash('success',"We've sent you a reset code.")
                }
            });

            deffered.error(function (data){
                loading.hide()
                clientflash.flash('danger','Error 500 internal server erro.')
                console.log(data.responseText)
            })

        })

    })

</script>


<% include ../partials/site/footer.ejs %>

