<% include ../partials/site/header.ejs %>

    <h4><strong>Enter your new password below.</strong></h4>
    <br>
    <form id="frm_login" method="POST">
        <div class="form-group">
            <label for="password">New Password: </label>
            <input type="password" name="password" id="password" class="form-control input-flat" placeholder="">
            <label for="confirmpassword">New Password: </label>
            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control input-flat" placeholder="">
        </div>
        <input type="submit" value="Sign in" class="btn btn-primary pull-right">
    </form>

</div>

<script>

    $(document).ready(function(){

        $('#frm_login').on('submit', function(e) {
            e.preventDefault();

            if($("#password").val() == $("#confirmpassword").val()){
                if($("#password").length >= 6){
                    var data = $("#frm_login :input").serializeArray();
                    loading.show();
                    deffered = $.post("/api/v0/resetpassword", data)

                    deffered.done(function(data) {
                        loading.hide()
                        console.log(data)
                        if(data == "false"){
                            clientflash.flash('danger','Oops! Password reset failed!.')
                        }else{
                            clientflash.flash('success',"Congratulations! Your password has been reset.")
                        }
                    });

                    deffered.error(function (data){
                        loading.hide()
                        clientflash.flash('danger','Error 500 internal server error.')
                        console.log(data.responseText)
                    })
                }else{
                    clientflash.flash('warning','Your password needs to be at least 6 characters long!.')
                }
            }else{
                clientflash.flash('warning','Warning your passwords dont match!.')
            }

        })

    })

</script>


<% include ../partials/site/footer.ejs %>

