<% include ../partials/header.ejs %>

    <div class="container">

        <div class="page-header">
            <h1>Reset Password <small>Oh yay, you made it here!</small></h1>
        </div>

        <h4><strong>Reset</strong></h4>
        <br>

        <form id="frm_Reset" method="POST">
            <div class="form-group">
                <label for="password">New Password: </label>
                <input id="password" type="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm New Password: </label>
                <input id="confirmpassword" type="password" name="confirmpassword">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>

    </div>

    <script>

        $(document).ready(function(){

            $('#frm_Reset').on('submit', function(e) {
                e.preventDefault();

                if($("#password").val() == $("#confirmpassword").val()){
                    if($("#password").val().length >= 6){
                        var data = $("#frm_Reset :input").serializeArray();
                        loading.show();
                        deffered = $.post("/api/v0/resetpassword", data)

                        deffered.done(function(data) {
                            loading.hide()
                            console.log(data)
                            if(data == "false"){
                                clientflash.flash('danger','Oops! Password reset failed!.')
                            }else{
                                clientflash.addflash('success',"Congratulations! Your password has been reset. Redirecting to login")
                                window.location.href = "/auth/login";
                            }
                        });

                        deffered.error(function (data){
                            loading.hide()
                            clientflash.flash('danger','Error 500 internal server error.')
                            console.log(data.responseText)
                        })
                    }else{
                        clientflash.flash('warning','Your password needs to be at least 6 characters long!.')
                    }
                }else{
                    clientflash.flash('warning','Warning your passwords dont match!.')
                }

            })

        })

    </script>


<% include ../partials/footer.ejs %>

